<div class="offset-2 col-12 col-xl-6 mx-auto">
  <div class="card text-center border-secondary py-4 bg-light above-small shadow-lg">
    <%if @user == current_user%>
        <h3>Editer votre profil</h3> 
    <%else%>
        <h3>Editer le profil</h3>
    <%end%>
           
    <div class=" col-5 justify-content-center mx-auto" >
      <%= form_tag profile_path(@user.id), :method => :patch, multipart: true, class: 'text-center form-group,form-control' do %>

        <%= label_tag 'Prénom' %><small class="text-danger ms-1 fs-5">*</small>
        <%= text_field_tag 'first_name', @user.first_name, placeholder: @user.first_name, class:"form-control mb-4" %>
        
        <%= label_tag 'Nom de famille' %><small class="text-danger ms-1 fs-5">*</small>
        <%= text_field_tag 'last_name', @user.last_name, placeholder: @user.last_name, class:"form-control mb-4" %>
        
        <%= label_tag "Ajouter une photo de profil", nil, class: 'mb-2' %>        
        <%= file_field_tag :avatar %>         
        <div class="mt-4">
          <%if @user == current_user%>
            <%= link_to 'Modifier mon compte', edit_user_registration_path(current_user.id), class: 'none-underline' %>
          <%end%>
        </div>          
        <%= submit_tag "Enregistrer", class: "mt-4 btn btn-lg btn btn-primary"  %>
        <p class="mt-4"><small class="text-danger me-2 fs-5">*</small>champs obligatoires</p>
      <% end %>
    </div>   
  </div>
</div>
