<div class="offset-2 col-6 col-xl-6 mx-auto">
  <div class="card text-center border-secondary py-4 bg-light above-small">
    <h3>Envoie des instructions de confirmation</h3></h3>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field mt-2">
        <%= f.label :email, "Email", class: "mt-3" %><br/>
        <%= f.email_field :email, autofocus: true, class: 'form-control-lg', autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <div class="actions m-2">
        <%= f.submit "Envoyer les instructions", class: "btn btn-lg btn-primary m-2" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
