<div class="container mt-4 mb-2 text-center">
    <h3>M'inscrire</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-2">
    <%= f.label :email, "Email", class:"mt-3"%></br>
    <%= f.email_field :email,  class: 'form-control-lg', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field mt-2">
    <%= f.label :password , "Mot de passe", class:"mt-3"%></br>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractères minimum)</em>
    <% end %><br />
    <%= f.password_field :password,  class: 'form-control-lg', autocomplete: "new-password" %>
  </div>

  <div class="field mt-2">
    <%= f.label :password_confirmation, "Confirmation du mot de passe", class:"mt-3"%></br>
    <%= f.password_field :password_confirmation,  class: 'form-control-lg', autocomplete: "new-password" %>
  </div>

  <div class="actions mt-4 mb-2">
    <%= f.submit "S'inscrire", class: "btn btn-lg btn-secondary border-primary"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>