  <div class="offset-2 col-6 col-xl-6 mx-auto">
    <div class="card text-center border-secondary py-4 bg-light above-small shadow-lg">

      <h3>Inscription</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field mt-2">
          <%= f.label :email, "Email", class:"mt-3"%><small class="text-danger ms-1 fs-5">*</small></br>
          <%= f.email_field :email,  class: 'form-control-lg', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mt-2">
          <%= f.label :password , "Mot de passe", class:"mt-3"%><small class="text-danger ms-1 fs-5">*</small></br>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %><br />
          <%= f.password_field :password,  class: 'form-control-lg', autocomplete: "new-password" %>
        </div>

        <div class="field mt-2">
          <%= f.label :password_confirmation, "Confirmation du mot de passe", class:"mt-3"%><small class="text-danger ms-1 fs-5">*</small></br>
          <%= f.password_field :password_confirmation,  class: 'form-control-lg', autocomplete: "new-password" %>
        </div>

        <div class="actions mt-4 mb-2">
          <%= f.submit "Inscription", class: "btn btn-lg btn-primary border-primary"  %>
          <p class="mt-4"><small class="text-danger me-2 fs-5">*</small>champs obligatoires</p>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
