<div class="text-center card border-light bg-light ">
 <div id="summary">
        <p><br></p>
        <h3><b><%= @article.title%></b></h3>
      </div>
    </div>

      <div class="summary">
        <div class="card border-secondary p-0 m-50 bg-light ">
         
            <div class="card-header">1. Résumé</div>
            <div class="card-body-summary justify-content-center">
              <%= simple_format(@article.summary)%>
            </div>
          
        </div>
      </div>

      <div class="card border-light p-4 justify-content-center bg-light ">
        <div id="introduction">
          <div class="card-header">2. Introduction</div>
          <div class="card-body justify-content-center">
            <%= simple_format(@article.introduction)%>
          </div>
        </div>
      </div>

      <div class="card border-light p-4 justify-content-center bg-light ">
        <div id="protocol">
          <div class="card-header">3. Protocole</div>
          <div class="card-body justify-content-center">
              <%=simple_format(@article.protocol)%>
          </div>
        </div>
      </div>

      <div class="card border-light p-4 justify-content-center bg-light ">
        <div id="results">
          <div class="card-header">4. Résultats</div>
          <div class="card-body justify-content-center">
            <%= simple_format(@article.result)%>
          </div>
        </div>
      </div>

      <div class="card border-light p-4 justify-content-center bg-light ">
        <div id="conclusion">
          <div class="card-header">5. Conclusion</div>
          <div class="card-body justify-content-center">
            <%= simple_format(@article.conclusion)%>
          </div>
        </div>
      </div>

      <div class="card border-light p-4 justify-content-center bg-light ">
        <div id="references">
          <div class="card-header">6. Références</div>
          <div class="card-body card-body-references justify-content-center">
            <%= simple_format(@article.references)%>
          </div>
        </div>
      </div>
