<div class="text-center card border-light bg-light ">
  <div id="summary">
    <p><br></p>
    <h3><b><%= @article.title %> </b></h3>
  </div>
  <% if user_signed_in?%>
    <% if current_user == @article.user %>    
      <div class="d-flex justify-content-center mt-3">
        <a href="<%= edit_article_path(@article.id) %>" class="text-warning hover" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editer l'article"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.7em" height="1.7em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M6.4 14.1l1.3 1.3l6.9-6.9l-1.3-1.3l-6.9 6.9zm6.3-7.5l-1.3-1.3l-6.9 6.9l1.4 1.4l6.8-7zm2.1-4.7l3.3 3.3c.6.6.5 1.5 0 2l-9.9 9.9l-6.9 1.4l1.4-6.9c6.2-6.3 9.5-9.6 9.9-9.9c.6-.4 1.6-.4 2.2.2z" fill="currentColor"/></svg></a>
        <a href="<%= article_path(@article.id) %>" data-confirm="Voulez vous vraiment supprimer cet article ?" data-method="delete" class="text-danger hover ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer l'article"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.7em" height="1.7em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path d="M2 5v10c0 .55.45 1 1 1h9c.55 0 1-.45 1-1V5H2zm3 9H4V7h1v7zm2 0H6V7h1v7zm2 0H8V7h1v7zm2 0h-1V7h1v7z" fill="currentColor"/><path d="M13.25 2H10V.75A.753.753 0 0 0 9.25 0h-3.5A.753.753 0 0 0 5 .75V2H1.75a.752.752 0 0 0-.75.75V4h13V2.75a.752.752 0 0 0-.75-.75zM9 2H6v-.987h3V2z" fill="currentColor"/></svg></a>
      </div>
    <%elsif current_user.admin%>
      <a href="<%= article_path(@article.id) %>" data-confirm="Voulez vous vraiment supprimer cet article ?" data-method="delete" class="text-danger hover ms-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer l'article"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.7em" height="1.7em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path d="M2 5v10c0 .55.45 1 1 1h9c.55 0 1-.45 1-1V5H2zm3 9H4V7h1v7zm2 0H6V7h1v7zm2 0H8V7h1v7zm2 0h-1V7h1v7z" fill="currentColor"/><path d="M13.25 2H10V.75A.753.753 0 0 0 9.25 0h-3.5A.753.753 0 0 0 5 .75V2H1.75a.752.752 0 0 0-.75.75V4h13V2.75a.752.752 0 0 0-.75-.75zM9 2H6v-.987h3V2z" fill="currentColor"/></svg></a>
    <%end%>
  <%end%>  

</div>

<div class="forpdf text-center mx-3 mb-2 mt-4">
  <small class="">Mots clés :</small><br/>
  <% @article.keywords.each do |keyword| %>
    <p class="btn btn-primary mt-2" style="cursor: unset"><%= keyword.name %></p>
  <% end %>
</div>

<div class="summary">
  <div class="card border-secondary p-0 m-50 bg-light ">

    <div class="card-header">Résumé</div>
    <div class="card-body-summary justify-content-center">
      <%= simple_format(@article.summary) %>
    </div>

  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="introduction">
    <div class="card-header">Introduction</div>
    <div class="card-body justify-content-center">
      <%= simple_format(@article.introduction) %>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="protocol">
    <div class="card-header">Protocole</div>
    <div class="card-body justify-content-center">
      <%= simple_format(@article.protocol) %>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="results">
    <div class="card-header">Résultats</div>
    <div class="card-body justify-content-center">
      <%= simple_format(@article.result) %>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="conclusion">
    <div class="card-header">Conclusion</div>
    <div class="card-body justify-content-center">
      <%= simple_format(@article.conclusion) %>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="references">
    <div class="card-header">Références</div>
    <div class="card-body card-body-references justify-content-center">
      <%= simple_format(@article.references) %>
    </div>
  </div>
  <div class="d-flex" style="justify-content: space-between;">
    <%if @article.created_at.strftime("%d/%m/%Y %k:%M:%S") == @article.updated_at.strftime("%d/%m/%Y %k:%M:%S")%>
      <div class="date">Article créé le <%= @article.created_at.strftime("%d/%m/%Y") %>.</div>
    <% else %>
      <div class="date">Article mis à jour le <%= @article.updated_at.strftime("%d/%m/%Y") %>.</div>
    <% end %>
    <a href="<%= article_path(@article.id, format: :pdf) %>" target="_blank" class="btn btn-primary hover">Exporter en
      PDF</a>
  </div>
  </div>
</div>
