<div class="text-center card border-light bg-light ">
        <p><br></p>
        <h3><b><%= @article.title%></b></h3>
      </div>


      <div class="summary">
        <div class="card border-secondary p-0 m-50 bg-light ">
          <div class="card-header">Résumé</div>
          <div class="card-body-summary justify-content-center">
            <%= simple_format(@article.summary)%>
          </div>
        </div>
      </div>

      <div class="card border-light p-4 justify-content-center bg-light ">
        <div class="card-header">Introduction</div>
        <div class="card-body justify-content-center">
        <br>
          <%= simple_format(@article.introduction)%>
        </div>
      </div>


      <div class="card border-light p-4 justify-content-center bg-light ">
        <div class="card-header">Protocole</div>
        <div class="card-body justify-content-center">
          <br>
            <%=simple_format(@article.protocol)%>
        </div>
      </div>


      <div class="card border-light p-4 justify-content-center bg-light ">
        <div class="card-header">Résultats</div>
        <div class="card-body justify-content-center">
        <br>
          <%= simple_format(@article.result)%>
        </div>
      </div>



      <div class="card border-light p-4 justify-content-center bg-light ">
        <div class="card-header">Conclusion</div>
        <div class="card-body justify-content-center">
        <br>
          <%= simple_format(@article.conclusion)%>
        </div>
      </div>



      <div class="card border-light p-4 justify-content-center bg-light ">
        <div class="card-header">Références</div>
        <div class="card-body-references justify-content-center">
        <br>
          <%= simple_format(@article.references)%>
        </div>
      </div>