 <div class="row align-items-start">
  <div class="card border-light col-3 bg-light">
      <% if @article.user.avatar.attached? %>
        <%= image_tag(@article.user.avatar, class: 'rounded-circle ms-md-5 ms-0', style: "width: 5em; height: 5em") %>
      <% else %>
        <%= image_tag(asset_path('default_avatar.png'), class: 'rounded-circle ms-md-5 ms-0', style: "width: 5em; height: 5em") %>
      <% end %>

      <div class="ms-md-5 ms-0 clickable">
        <a href="<%= profile_path(@article.user.id) %>">
          <h5><em><%= @article.user.first_name%> <%= @article.user.last_name%></em></h5>
        </a>
      </div>
  </div>

  <div class="col d-flex justify-content-end me-5 mt-2">
    <div class="card border-light col-3 mt-2 bg-light">
      <div class="d-flex justify-content-around bg-light ">
        <%if user_signed_in?%>        

          <%if whith_tag(current_user,@article) == "Approved"%>
            <a href="<%=article_tag_path(@article.id, @article.tags.find_by(user: current_user).id)%>" data-method="delete" data-remote="true"><span class="badge badge-fake rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Approuvé"><span class="iconify" data-icon="mdi:check-bold" style="color: #2c3e50;" data-width="25" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:approved]%></span></span></a>
          <%else%>
            <a href="<%=article_tags_path(@article.id, :tag_name => "Approved")%>" data-method="post" data-remote="true"><span class="badge badge-fake rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Approuvé"><span class="iconify" data-icon="mdi:check-bold" style="color: white;" data-width="25" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:approved]%></span></span> </a>
          <%end%>                 

          <%if whith_tag(current_user,@article) == "Need Review"%>
            <a href="<%=article_tag_path(@article.id, @article.tags.find_by(user: current_user).id)%>" data-method="delete" data-remote="true"><span class="badge badge-fake rounded-pill bg-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="À Retravailler"><span class="iconify" data-icon="jam:write-f" style="color: #2c3e50;" data-width="25" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:need_review]%></span></span></a>
          <%else%>
            <a href="<%=article_tags_path(@article.id, :tag_name => "Need Review")%>" data-method="post" data-remote="true"><span class="badge badge-fake rounded-pill bg-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="À Retravailler"><span class="iconify" data-icon="jam:write-f" style="color: white;" data-width="25" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:need_review]%></span></span></a>
          <%end%>  
              
          <%if whith_tag(current_user,@article) == "Not Approved"%>
            <a href="<%=article_tag_path(@article.id, @article.tags.find_by(user: current_user).id)%>" data-method="delete" data-remote="true"><span class="badge badge-fake rounded-pill bg-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Non Approuvé"><span class="iconify" data-icon="emojione-monotone:cross-mark" style="color: #2c3e50;" data-width="30" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:not_approved]%></span></span></a>
          <%else%>
            <a href="<%=article_tags_path(@article.id, :tag_name => "Not Approved")%>" data-method="post" data-remote="true"><span class="badge badge-fake rounded-pill bg-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Non Approuvé"><span class="iconify" data-icon="emojione-monotone:cross-mark" style="color: white;" data-width="30" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:not_approved]%></span></span></a>
          <%end%>                    
                                        
        <%else%>
          <a href="<%=article_tags_path(@article.id)%>" data-method="post"><span class="badge badge-fake rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Approuvé"><span class="iconify" data-icon="mdi:check-bold" style="color: white;" data-width="25" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:approved]%></span></span></a>
          <a href="<%=article_tags_path(@article.id)%>" data-method="post"><span class="badge badge-fake rounded-pill bg-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="À Retravailler"><span class="iconify" data-icon="jam:write-f" style="color: white;" data-width="25" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:need_review]%></span></span></a>
          <a href="<%=article_tags_path(@article.id)%>" data-method="post"><span class="badge badge-fake rounded-pill bg-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Non Approuvé"><span class="iconify" data-icon="emojione-monotone:cross-mark" style="color: white;" data-width="30" data-height="25"></span><span class="badge rounded-pill bg-primary"><%=tag_count(@article)[:not_approved]%></span></span></a>
        <%end%>
      </div>
      <div class="d-flex justify-content-center mt-5 bg-light">
        <a href="<%= category_path(@article.category.id) %>" style="text-decoration: none; color: black;"><%= @article.category.name %></a>
      </div>
    </div>
  </div>
</div>        
