<div class="col">
  <div class="offset-2 col-8 mx-auto">
    <div class="card border-secondary p-4 text-center justify-content-center bg-light above-small shadow-lg">
      <h3>Modifier un article</h3>
      <%= form_tag article_path(@article.id), :method => :patch, multipart: true, class: 'text-center form-group,form-control' do %>
        <%= label_tag 'Titre' %>

        <%= text_field_tag 'title', @article.title, placeholder: @article.title, class:"form-control" %>
        <br>
        <%= label_tag 'Résumé' %>
        <%= text_area_tag 'summary', @article.summary, placeholder: @article.summary, class:"form-control" %>
        <br>
        <%= label_tag 'Introduction' %>
        <%= text_area_tag 'introduction', @article.introduction, placeholder: @article.introduction, class:"form-control" %>
        <br>
        <%= label_tag 'Protocole' %>
        <%= text_area_tag 'protocol', @article.protocol, placeholder: @article.protocol, class:"form-control" %>
        <br>
        <%= label_tag 'Résultats' %>
        <%= text_area_tag 'result', @article.result, placeholder: @article.result, class:"form-control" %>>
        <br>
        <%= label_tag 'Conclusion' %>
        <%= text_area_tag 'conclusion', @article.conclusion, placeholder: @article.conclusion, class:"form-control" %>
        <br>
        <%= label_tag 'Références' %>
        <%= text_area_tag 'references', @article.references, placeholder: @article.references, class:"form-control" %>
        <br>
        <%= label_tag 'Mots Clés' %>
        <%= text_field_tag 'tags_input',
                           nil,
                           id: 'tag-input',
                           class: "form-control",
                           placeholder: 'Mots clés séparés par des ;'
        %>
        <%= hidden_field :tags, nil, id: 'tags-array' %>
        <div class="tag-container">
        </div>
        <br/>
        <%= label_tag "Ajouter une image a l'article", nil, class: 'mb-2' %>
        <br>
        <%= file_field_tag :picture %>
        <br>
        <br>
        <%= submit_tag "Editer mon article", class: "mt-3 btn btn-lg btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'tags' %>
