<%= stylesheet_link_tag "article_index" %>
<div class="offset-2 col-12 col-xl-8 mx-auto">
  <div class="card border-secondary p-4 justify-content-center bg-light above">
    <% if @articles.nil? %>
      <%= render 'no_more_articles' %>
    <% else %>
      <%= render 'article_list' %>
    <% end %>
    <div class="d-flex justify-content-end mt-4">
      <ul class="pagination">
        <li class="page-item disabled" id="btn-prev">
          <%= link_to '<<', articles_path(page: @page - 1), class: 'page-link' %>
        </li>
        <li class="page-item" id="btn-<%= @page - 2 %>">
          <%= link_to @page - 2, articles_path(page: @page - 2), class: 'page-link' %>
        </li>
        <li class="page-item" id="btn-<%= @page - 1 %>">
          <%= link_to @page - 1, articles_path(page: @page - 1), class: 'page-link' %>
        </li>
        <li class="page-item" id="btn-<%= @page %>">
          <%= link_to @page, articles_path(page: @page), class: 'page-link' %>
        </li>
        <li class="page-item" id="btn-<%= @page + 1 %>">
          <%= link_to @page + 1, articles_path(page: @page + 1), class: 'page-link' %>
        </li>
        <li class="page-item" id="btn-<%= @page + 2 %>">
          <%= link_to @page + 2, articles_path(page: @page + 2), class: 'page-link' %>
        </li>
        <li class="page-item" id="btn-next">
          <%= link_to '>>', articles_path(page: @page + 1), class: 'page-link' %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= javascript_include_tag 'paging' %>
