<%= stylesheet_link_tag "article_index" %>
<div class="offset-2 col-12 col-xl-8 mx-auto">
  <div class="card border-secondary p-4 justify-content-center bg-light above">
    <% if @articles.nil? %>
      <%= render 'no_more_articles' %>
    <% else %>
      <%= render 'article_list' %>
    <% end %>
    <div class="d-flex justify-content-end mt-4">
      <ul class="pagination">
        <li class="page-item disabled">
          <%= link_to '<<', articles_path(page: @page - 1), class: 'page-link' %>
        </li>
        <li class="page-item active">
          <%= link_to '1', articles_path(page: 1), class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to '2', articles_path(page: 2), class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to '3', articles_path(page: 3), class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to '4', articles_path(page: 4), class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to '5', articles_path(page: 5), class: 'page-link' %>
        </li>
        <li class="page-item">
          <%= link_to '>>', articles_path(page: @page + 1), class: 'page-link' %>
        </li>
      </ul>
    </div>
  </div>
</div>
