<div class="offset-2 col-6 col-xl-6 mx-auto">
  <div class="card text-center border-secondary py-4 bg-light above-small shadow-lg">
      <h3>Modifier votre mot de passe</h3>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <div class="field mt-2">
          <%= f.label :password, "Nouveau mot de passe", class:"mt-3" %><small class="text-danger ms-1 fs-5">*</small><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, class: 'form-control-lg', autofocus: true, autocomplete: "new-password" %>
        </div>
        <div class="field mt-2">
          <%= f.label :password_confirmation, "Confirmation du mot de passe", class:"mt-3" %><small class="text-danger ms-1 fs-5">*</small><br />
          <%= f.password_field :password_confirmation, class: 'form-control-lg', autocomplete: "new-password" %>
        </div>
        <div class="actions m-2">
          <%= f.submit "Modifier le mot de passe", class:"btn btn-lg btn-primary border-primary m-2" %>
          <p class="mt-4"><small class="text-danger me-2 fs-5">*</small>champs obligatoires</p>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
  </div>
</div>



