<ul class="pagination">
  <li class="page-item disabled" id="btn-prev">
    <%= link_to '<<', searches_path(page: 0, keyword: @keyword), class: 'page-link', remote: true %>
  </li>
  <li class="page-item" id="btn-1">
    <%= link_to '1', searches_path(page: 1, keyword: @keyword), class: 'page-link', remote: true %>
  </li>
  <li class="page-item" id="btn-2">
    <%= link_to '2', searches_path(page: 2, keyword: @keyword), class: 'page-link', remote: true %>
  </li>
  <li class="page-item" id="btn-3">
    <%= link_to '3', searches_path(page: 3, keyword: @keyword), class: 'page-link', remote: true %>
  </li>
  <li class="page-item" id="btn-4">
    <%= link_to '4', searches_path(page: 4, keyword: @keyword), class: 'page-link', remote: true %>
  </li>
  <li class="page-item" id="btn-5">
    <%= link_to '5', searches_path(page: 5, keyword: @keyword), class: 'page-link', remote: true %>
  </li>
  <li class="page-item" id="btn-next">
    <%= link_to '>>', searches_path(page: 2, keyword: @keyword), class: 'page-link', remote: true %>
  </li>
</ul>
