<div id="above-card" class="offset-2 col-12 col-xl-8 mx-auto">
  <div id="card" class="card border-secondary p-4 justify-content-center bg-light above-small">
    <%= render 'results_list' %>
    <div id="paging" class="d-flex justify-content-end mt-4">
      <%= render 'paging' %>
    </div>
  </div>
</div>

<% if @results == [] || @results.count < 3 %>
  <%= render 'layouts/footer_sticky' %>
<% else %>
  <%= render 'layouts/footer' %>
<% end %>

<%= javascript_include_tag 'paging' %>

<script id='paging-script'>
    let ul = document.querySelector('ul.pagination');
    let url = "<%= articles_path %>" + "?page=";
    let page = <%= @page %>;

    let p = new Paging(ul, url, page)

    p.init()
</script>
