<div class="offset-2 col-12 col-xl-8 mx-auto">
  <div class="card border-secondary p-4 justify-content-center bg-light above-small">
    <% if @results.count > 1 %>
      <h4 class="text-center fw-blod mt-2 mb-3">Voici les <%= @results.count %> résultats de votre recherche de
        "<%= @keyword %>"</h4>
    <% elsif @results.count == 1 %>
      <h4 class="text-center fw-blod mt-2 mb-3">Nous n'avons trouvé qu'un seul résultat pour votre recherche de
        "<%= @keyword %>"</h4>
    <% else %>
      <h4 class="text-center fw-blod mt-2 mb-3">Désolé, nous n'avons trouvé aucune correspondance pour votre recherche de
        "<%= @keyword %>"</h4>
    <% end %>
    <%= render 'results_list' %>
  </div>
</div>

<% if @results == [] || @results.count < 3 %>
  <%= render 'layouts/footer_sticky' %>
<% else %>
  <%= render 'layouts/footer' %>
<% end %>
