<div id="above-card" class="offset-2 col-12 col-xl-8 mx-auto">
  <div id="card" class="card border-secondary p-4 justify-content-center bg-light above-small shadow-lg rellax" data-rellax-speed="2">
    <h3 class="text-center mb-3"><%= @category.name %></h3>
    <% if @articles.nil? %>
      <div class="text-center my-4">
        <h3>Désolé mais nous n'avons pas pu charger plus d'articles...</h3>
      </div>
    <% else %>
      <%= render 'article_list' %>
    <% end %>
    <div id="paging" class="d-flex justify-content-end mt-4">
      <%= render 'paging'  unless @total_pages < 2 %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'paging' %>

<% if @articles.nil? || @articles.count < 3 %>
  <%= render 'layouts/footer_sticky' %>
<% else %>
  <%= render 'layouts/footer' %>
<% end %>

<script id='paging-script'>
    let ul = document.querySelector('ul.pagination');
    let url = "<%= category_path %>"
    let page = <%= @page %>;
    let totalPages = <%= @total_pages %>;

    let p = new Paging(ul, url, page, totalPages)

    p.init()
</script>
