<div id="flash" class="justify-content-center align-items-center" style="z-index: 4;   width: 15%;
    height: 100px; 
    text-align: center;
    position: absolute;
    top:10px;
    bottom: 0;
    left: 0;
    right: 0;    
    margin-left: auto;
    margin-right: auto;
    padding: auto">
  <% flash.each do |type, msg| %>
    <% if type == 'alert' %>
      <div class="alert alert-danger w-60 border-0">
        <span class="iconify" data-icon="mdi:information-outline"></span>
        <span class="alert-text"><%= msg %></span>
        <a id="close"><span class="iconify" data-icon="mdi:close"></span></a>
      </div>
      <%= javascript_include_tag 'flash.js' %>
    <% elsif type == 'notice' %>
      <div class="alert alert-success w-60 border-0">
        <span class="iconify" data-icon="mdi:information-outline"></span>
        <span class="alert-text"><%= msg %></span>
        <a id="close"><span class="iconify" data-icon="mdi:close"></span></a>
      </div>
      <%= javascript_include_tag 'flash.js' %>
    <% else %>
      <div class="alert alert-info w-60 border-0">
        <span class="iconify" data-icon="mdi:information-outline"></span>
        <span class="alert-text"><%= msg %></span>
        <a id="close"><span class="iconify" data-icon="mdi:close"></span></a>
      </div>
      <%= javascript_include_tag 'flash.js' %>
    <% end %>
  <% end %>
</div>
