<!DOCTYPE html>
<html>
<head>
  <title>GaffexProject</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="row d-flex" id="website">
  <%= render 'layouts/navbar' %>
  <div class="col">
    <% unless controller_name == "articles" && action_name == "index" %>
      <%= render 'layouts/header_small' %>
    <% else %>
      <%= render 'layouts/header_big' %>
    <% end %>
    <%= render 'layouts/flash' %>
<%= render 'layouts/loading_animation' %>
    <%= yield %>
    <% if controller_name == "sessions" || controller_name == "users"|| controller_name == "registrations" || controller_name == "passwords" || action_name == "contact" || action_name == "about_us"%> 
      <%= render "layouts/footer_sticky" %>
    <% else %>
      <% unless (controller_name == "articles" && action_name == "index") || (controller_name == "searches" && action_name == "index") %>
        <%= render 'layouts/footer' %>
      <% end %>
    <% end %>
  </div>
</div>

<style>html {
    overflow-x: hidden;
}</style>

</body>

</html>
